<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quiz Unidad 3</title>
  <link rel="stylesheet" href="../../css/master.css">
  </head>
  <body>
    <div class="margen">

    <div class="encabezado">
    <h1>CUESTIONARIO CORRESPONDIENTE A LA UNIDAD 03</h1>
  </div>
  <div class="realizar sin_decoracion">
    <h4>1) ¿Qué es UX?</h4>
    <ul>
      <li> <input type="radio" name="item1" value="respuesta1_1">Es una etapa del proceso de desarrollo de productos digitales</li>
      <li> <input type="radio" name="item1" value="respuesta1_2" checked>Son todas las experiencias que vive/experimenta una persona al usar un producto</li>
      <li> <input type="radio" name="item1" value="respuesta1_3">Es un rol dentro del equipo de desarrollo de productos digitales</li>
      <li> <input type="radio" name="item1" value="respuesta1_4">Es el resultado de un proceso de diseño</li>
    </ul>

<h4> 2) ¿Cuáles son los 2 conceptos clave para entender User Experience Design?  </h4>
  <ul>
    <li><input type="checkbox" name="item2"> <label>Generar mayores ingresos para la compañía </label></li>
    <li><input type="checkbox" name="item2"checked> <label>Ofrecer una experiencia amigable para los usuarios </label></li>
    <li><input type="checkbox" name="item2"> <label>Responsive design </label></li>
    <li><input type="checkbox" name="item2"> <label>Tener mejores productos digitales </label></li>
    <li><input type="checkbox" name="item2"checked> <label>Resolver necesidades de los usuarios </label></li>
  </ul>

<h4> 3) Para crear un producto digital en el mundo de hoy requieres  </h4>
  <ul>
    <li> <input type="radio" name="item3" value="respuesta3_1">Un programador </li>
    <li> <input type="radio" name="item3" value="respuesta3_2">Un front-end y un back-end developer </li>
    <li> <input type="radio" name="item3" value="respuesta3_3" checked>Un equipo multidisciplinario</li>
    <li> <input type="radio" name="item3" value="respuesta3_4">Una egresada de Laboratoria</li>
  </ul>

<h4> 4) ¿Cuáles son las 3 etapas en el desarrollo de un producto digital según Laboratoria?</h4>
  <ul>
    <li><input type="checkbox" name="item4" checked> <label>Crecimiento </label></li>
    <li><input type="checkbox" name="item4"> <label>Sprint kick off </label></li>
    <li><input type="checkbox" name="item4" checked> <label>Diseño de la experiencia </label></li>
    <li><input type="checkbox" name="item4" checked> <label>Desarrollo </label></li>
<li><input type="checkbox" name="item4"> <label>Retrospectiva</li>
  </ul>

  <h4>5) Facilidad para las relaciones sociales y para el análisis son características de un ___ designer *</h4>
  	<ul>
      <li> <input type="radio" name="item5" value="respuesta5_1">Visual	</li>
      <li> <input type="radio" name="item5" value="respuesta5_2">UI </li>
      <li> <input type="radio" name="item5" value="respuesta5_3" checked>UX </li>
      <li> <input type="radio" name="item5" value="respuesta5_4">Front-end </li>
  	</ul>

  <h4>6) Los siguientes términos: botones, ventanas, esquinas redondeadas, checkboxes, están más relacionados con * </h4>
  	<ul>
      <li> <input type="radio" name="item6" value="respuesta6_1">UX </li>
      <li> <input type="radio" name="item6" value="respuesta6_2">Front-end developer </li>
      <li> <input type="radio" name="item6" value="respuesta6_3" checked>UI </li>
      <li> <input type="radio" name="item6" value="respuesta6_4">Web development </li>
  	</ul>

  <h4>7) Con qué términos completarías los espacios en blanco: Una buena _______ nos permite dar una buena ________. * </h4>
  	<ul>
      <li> <input type="radio" name="item7" value="respuesta7_1" checked>UI - UX </li>
      <li> <input type="radio" name="item7" value="respuesta7_2">Investigación - presentación </li>
      <li> <input type="radio" name="item7" value="respuesta7_3">Aplicación móvil - experiencia </li>
      <li> <input type="radio" name="item7" value="respuesta7_4">UX - UI </li>
  	</ul>

  <h4>8) Son actividades que realiza un UX Designer *</h4>
  	<ul>
      <li><input type="checkbox" name="item8" checked><label>Pruebas (de usabilidad, con usuarios) </label></li>
      <li><input type="checkbox" name="item8"><label>Diseño de elementos (botones, formularios) </label></li>
      <li><input type="checkbox" name="item8" checked><label>Diseño visual (iconos, imágenes) </label></li>
      <li><input type="checkbox" name="item8"checked><label>Investigación (con stakeholders, etnográfica, entrevistas 1 a 1…) </label></li>
      <li><input type="checkbox" name="item8"><label>Guías de estilo (paletas de color, fonts) </label></li>
  	</ul>

  </div>
      <div class="iconos">
      <span class="regresar"> Regresar al menu principal <a href="../../index.html"> <img src="../../img/inicio.png" width="35px" height="35px"></a></span>
      </div>
  </div>
  </body>
</html>
