<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!--inicia titulo-->
    <title>Quiz Unidad 1</title>

    <link rel="stylesheet" href="../../css/master.css">
  </head>
  <body>
    <script type="text/javascript">
      alert("A continuación se presenta el quiz de la unidad 01");
    </script>
    <div class="margen">

    <!--inicia titulo-->
    <div class="encabezado">
      <h1>CUESTIONARIO CORRESPONDIENTE A LA UNIDAD 01</h1>
    </div>

    <!--inicia cuestionario-->
    <div class="realizar sin_decoracion">

      <h4>1) Cada navegador web viene con un intérprete JavaScript que entiende cómo leer programas JavaScript *</h4>
        <ul>
          <li> <input type= "radio" name= "item1" value= "respuesta1_1" checked>Verdadero</li>
          <li> <input type= "radio" name= "item1" value= "respuesta1_2">Falso</li>
        </ul>

      <h4>2) JavaScript es una versión moderna del lenguaje de programación Java *</h4>
        <ul>
          <li><input type= "radio" name= "item2" value= "respuesta2_1">Verdadero</li>
          <li><input type= "radio" name= "item2" value= "respuesta2_2" checked>Falso</li>
        </ul>

      <h4>3) ¿Cuál de los siguientes NO es un navegador web? *</h4>
        <ul>
          <li><input type= "radio" name= "item3" value= "respuesta3_1">Google Chrome</li>
          <li><input type= "radio" name= "item3" value= "respuesta3_2">Internet Explorer</li>
          <li><input type= "radio" name= "item3" value= "respuesta3_3">safari</li>
          <li><input type= "radio" name= "item3" value= "respuesta3_4" checked>JavaScript</li>
        </ul>

      <h4>4) HTML es ...* *</h4>
        <ul>
          <li>  <input type= "radio" name= "item4" value= "respuesta4_1"> Un lenguaje de programación para crear páginas web </li>
          <li>	<input type= "radio" name= "item4" value= "respuesta4_2" checked> Un lenguaje de marcado de texto para crear la estructura de páginas web </li>
          <li>	<input type= "radio" name= "item4" value= "respuesta4_3"> Una herramienta de marketing para páginas web </li>
          <li>	<input type= "radio" name= "item4" value= "respuesta4_4"> Un protocolo de envío de información por Internet </li>
        </ul>

      <h4>5) La función de &lt;!DOCTYPE html&gt; es *</h4>
        <ul>
          <li><input type= "radio" name= "item5" value= "respuesta5_1">Definir la apertura del código HTML</li>
          <li><input type= "radio" name= "item5" value= "respuesta5_2">Definir las líneas de código HTML que tendrá el documento</li>
          <li><input type= "radio" name= "item5" value= "respuesta5_3" checked>Hacerle saber al navegador que interprete el documento como HTML moderno, en contraposición a varios dialectos que estaban en uso en el pasado.</li>
          <li><input type= "radio" name= "item5" value= "respuesta5_4">Guardar el archivo con extensión .html</li>
        </ul>

      <h4>6) En cuanto a los elementos head y body *</h4>
        <ul>
          <li><input type= "radio" name= "item6" value= "respuesta6_1">El head contiene información sobre el documento, y el body también</li>
          <li><input type= "radio" name= "item6" value= "respuesta6_2">El head contiene información sobre los encabezados, y el body sobre los párrafos</li>
          <li><input type= "radio" name= "item6" value= "respuesta6_3">El head contiene el documento en sí y el body información sobre el documento</li>
          <li><input type= "radio" name= "item6" value= "respuesta6_4" checked>El head contiene información sobre el documento, y el body contiene el documento en sí</li>
        </ul>

      <h4>7) El elemento title debe ir dentro del elemento *</h4>
        <ul>
          <li><input type= "radio" name= "item7" value= "respuesta7_1" checked>head</li>
          <li><input type= "radio" name= "item7" value= "respuesta7_2">body</li>
          <li><input type= "radio" name= "item7" value= "respuesta7_3">h1</li>
          <li><input type= "radio" name= "item7" value= "respuesta7_4">script</li>
        </ul>

      <h4>8) Para incluir JavaScript en una web HTML se utiliza el elemento *</h4>
        <ul>
          <li><input type= "radio" name= "item8" value= "respuesta8_1">head</li>
          <li><input type= "radio" name= "item8" value= "respuesta8_2">body</li>
          <li><input type= "radio" name= "item8" value= "respuesta8_3">h1</li>
          <li><input type= "radio" name= "item8" value= "respuesta8_4" checked >script</li>
        </ul>

      <h4>9) ¿Qué hace la siguiente etiqueta? *<br>
        &lt;script src="nombre-del-documento.js"&gt;&lt;/script&gt;</h4>
        <ul>
          <li><input type= "radio" name= "item9" value= "respuesta9_1">Asignarle el nombre al documento JavaScript</li>
          <li><input type= "radio" name= "item9" value= "respuesta9_2">Escribir JavaScript directamente en el HTML</li>
          <li><input type= "radio" name= "item9" value= "respuesta9_3" checked >Incluir el código desde un archivo externo</li>
          <li><input type= "radio" name= "item9" value= "respuesta9_4">Agregar CSS al documento HTML</li>
        </ul>

      <h4>10) Nombres comúnes para tus archivos son *</h4>
        <ul>
          <li><input type= "radio" name= "item10" value= "respuesta10_1" checked >index.html y app.js</li>
          <li><input type= "radio" name= "item10" value= "respuesta10_2">mi-pagina-chevere.html y javascript.js</li>
          <li><input type= "radio" name= "item10" value= "respuesta10_3">index.js y app.html</li>
          <li><input type= "radio" name= "item10" value= "respuesta10_4">index.html y código-facil.js</li>
        </ul>
  </div>
    <div class="iconos">
    <span class="regresar">Menu Principal <a href="../../index.html"> <img src="../../img/inicio.png" width="35px" height="35px"></a></span>
    </div>
    </div>
  </body>

</html>
