<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Unidad 2</title>
    <link rel="stylesheet" href="../../css/master.css">
  </head>
  <body>
    <!--titulo-->
    <div class="margen">
    <div class="encabezado">
    <h1>Contenido de la Unidad 2</h1>
    </div>
    <br>
    <!--menu-->
    <a href="ejercicios_guiados.html">
      <div class="indice02">
        <span class="indice_unidad02">Ejercicios Guiados</span>
        <br>
      </div>
    </a>


    <a href="ejercicios.html">
    <div class="indice02">
      <span class="indice_unidad02">Ejercicio Final</span>
      <br>
    </div>
    </a>

    <a href="quiz.html">
    <div class="indice02">
      <span class="indice_unidad02">Quiz</span>
      <br>
    </div>
    </a>
    <!--fin de menu-->

    <span class="regresar"> Regresar al menu principal <a href="../../index.html"> <img src="../../img/inicio.png" width="35px" height="35px"></a></span>
  </div>
  </body>
</html>
