<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quiz Unidad 2</title>
    <link rel="stylesheet" href="../../css/master.css">
  </head>
  <body>
    <script type="text/javascript">
      alert("A continuación se presenta el quiz de la unidad 02");
    </script>

    <div class="margen">

      <div class="encabezado">
        <p class="encabezado1">Unidad02 </p>
        <p class="encabezado2">QUIZ</p>
      </div>

    <div class="realizar sin_decoracion">


        <h4>1) ¿Cuál de las siguientes opciones reflejan "buenos"
          nombres de variables (es decir, cumplen con las reglas y las
          sugerencias de buenas prácticas)? *</h4>
      <ol>
        <li><input type="checkbox"><label> var last_name = 'Martinez';</label></li>
        <li><input type="checkbox" checked ><label> var score = 1;</label></li>
        <li><input type="checkbox"><label> var cosita = "El retorno del Jedi";</label></li>
        <li><input type="checkbox"><label> var undefined = true;</label></li>
        <li><input type="checkbox" checked ><label> var likesCoffee = false; </label></li>
        <li><input type="checkbox"><label> var 2ndChild = 'Diana'; </label></li>
      </ol>

      <h4>2) Los comentarios en la programación *</h4>
      <ol>
        <li><input type="radio" name="item2" value="respuesta2_1"> Afectan el flujo del programa y se utilizan para hacer más entendible tu código</li>
        <li><input type="radio" name="item2" value="respuesta2_2"> No afectan el flujo del programa y se utilizan para hacer que el código corra más rápido</li>
        <li><input type="radio" name="item2" value="respuesta2_3" checked > No afectan el flujo del programa y se utilizan para hacer más entendible tu código</li>
        <li><input type="radio" name="item2" value="respuesta2_4"> Afectan el flujo del programa y se utilizan para hacer que el código corra más rápido</li>
      </ol>

      <h4>3) Un ejemplo de conversión automática es *</h4>
      <ol>
        <li><input type="radio" name="item3" value="respuesta3_1"> 3 > 3 </li>
        <li><input type="radio" name="item3" value="respuesta3_2"> 'hola' + ' mundo'</li>
        <li><input type="radio" name="item3" value="respuesta3_3"> true && false</li>
        <li><input type="radio" name="item3" value="respuesta3_4" checked > "10" + 1</li>
      </ol>

      <h4>4) La diferencia entre undefined y null *</h4>
      <ol>
        <li><input type="radio" name="item4" value="respuesta4_1"> No existe, son lo mismo </li>
        <li><input type="radio" name="item4" value="respuesta4_2"> No importa </li>
        <li><input type="radio" name="item4" value="respuesta4_3"> undefined no tiene valor y null es un string vacio </li>
        <li><input type="radio" name="item4" value="respuesta4_4" checked > undefined significa que no se ha asignado un valor, mientras que null significa que hemos asignado el valor null </li>
      </ol>

      <h4>5) De la lista a continuación, elige las dos (2) fuentes más confiable para aprender por tu cuenta *</h4>
      <ol>
        <li><input type="checkbox" checked ><label> Documentación de la Red de Desarrolladores de Mozilla (MDN) </label></li>
        <li><input type="checkbox"><label> www.w3schools.com </label></li>
        <li><input type="checkbox"><label> lineadecodigo.com </label></li>
        <li><input type="checkbox" checked ><label> stackoverflow.com </label></li>
      </ol>

      <h4>6) El resultado de 'Hola' + 'mundo' es</h4>
      <ol>
        <li><input type="radio" name="item6" value="respuesta6_1"> "Hola Mundo" </li>
        <li><input type="radio" name="item6" value="respuesta6_2"> "Hola mundo" </li>
        <li><input type="radio" name="item6" value="respuesta6_3" checked > "Holamundo" </li>
        <li><input type="radio" name="item6" value="respuesta6_4"> 'HolaMundo' </li>
      </ol>

      <h4>7) ¿Qué tipo de dato es '123'? *</h4>
      <ol>
        <li><input type="radio" name="item7" value="respuesta7_1" > number </li>
        <li><input type="radio" name="item7" value="respuesta7_2" checked > string </li>
        <li><input type="radio" name="item7" value="respuesta7_3" > boolean </li>
        <li><input type="radio" name="item7" value="respuesta7_4" > undefined </li>
      </ol>

      <h4>8) ¿Qué tipo de dato es Infinity? *</h4>
      <ol>
        <li><input type="radio" name="item8" value="repesuesta8_1" checked > number </li>
        <li><input type="radio" name="item8" value="repesuesta8_2"> string </li>
        <li><input type="radio" name="item8" value="repesuesta8_3"> boolean </li>
        <li><input type="radio" name="item8" value="repesuesta8_4"> undefined </li>
      </ol>

      <h4>9) El resultado de 10 == 'diez' es *</h4>
      <ol>
        <li><input type="radio" name="item9" value="respuesta9_"> true </li>
        <li><input type="radio" name="item9" value="respuesta9_" checked > false </li>
      </ol>

      <h4>10) El resultado de 10 % 3 es *</h4>
      <ol>
        <li><input type="radio" name="item10" value="respuesta10_1" checked > 1 </li>
        <li><input type="radio" name="item10" value="respuesta10_2"> 0 </li>
        <li><input type="radio" name="item10" value="respuesta10_3"> 3.33 </li>
        <li><input type="radio" name="item10" value="respuesta10_4"> 10 </li>
      </ol>

      <h4>12) El resultado de typeof NaN es *</h4>
      <ol>
        <li><input type="radio" name="item12" value="respuesta12_1"> "boolean" </li>
        <li><input type="radio" name="item12" value="respuesta12_2"> "undefined" </li>
        <li><input type="radio" name="item12" value="respuesta12_3" checked > "number" </li>
        <li><input type="radio" name="item12" value="respuesta12_4"> "string" </li>
      </ol>

      <h4>13) El resultado de 4 % 15 es *</h4>
      <ol>
        <li><input type="radio" name="item13" value="respuesta13_1" checked > 4 </li>
        <li><input type="radio" name="item13" value="respuesta13_2" > false </li>
        <li><input type="radio" name="item13" value="respuesta13_3" > 15 </li>
        <li><input type="radio" name="item13" value="respuesta13_4" > % </li>
      </ol>

      <h4>14) El resultado de 'diez' * 4 es *</h4>
      <ol>
        <li><input type="radio" name="item14" value="respuesta14_1" checked > NaN </li>
        <li><input type="radio" name="item14" value="respuesta14_2"> 40 </li>
        <li><input type="radio" name="item14" value="respuesta14_3"> diez4 </li>
        <li><input type="radio" name="item14" value="respuesta14_4"> undefined </li>
      </ol>

      <h4>15) El resultado de '50' + 1 es *</h4>
     <ol>
       <li><input type="radio" name="item15" value="respuesta15_1" checked > "501" </li>
       <li><input type="radio" name="item15" value="respuesta15_2"> 51 </li>
       <li><input type="radio" name="item15" value="respuesta15_3"> "50+1" </li>
       <li><input type="radio" name="item15" value="respuesta15_4"> 50 </li>
     </ol>

     <h4>16) El resultado de false == '' es *</h4>
     <ol>
       <li><input type="radio" name="item16" value="respuesta16_1" checked> true </li>
       <li><input type="radio" name="item16" value="respuesta16_2"> false </li>
       <li><input type="radio" name="item16" value="respuesta16_3"> undefined </li>
       <li><input type="radio" name="item16" value="respuesta16_4"> Null </li>
     </ol>

     <h4>17) El resultado de '' === NaN es *</h4>
     <ol>
       <li><input type="radio" name="item17" value="respuesta17_1"> true </li>
       <li><input type="radio" name="item17" value="respuesta17_2" checked > false </li>
       <li><input type="radio" name="item17" value="respuesta17_3"> undefined </li>
       <li><input type="radio" name="item17" value="respuesta17_4"> Null </li>
     </ol>

     <h4>18) El resultado de 'a string'.slice(1, 5) es *</h4>
     <ol>
       <li><input type="radio" name="item18" value="respuesta18_1" checked > " str" </li>
       <li><input type="radio" name="item18" value="respuesta18_2"> " string" </li>
       <li><input type="radio" name="item18" value="respuesta18_3"> "stri" </li>
       <li><input type="radio" name="item18" value="respuesta18_4"> " strin" </li>
     </ol>

     <h4>19) El resultado de 'My long string is long'.slice(5) es *</h4>
     <ol>
       <li><input type="radio"name="item19" value="respuesta19_1" checked> "ng string is long" </li>
       <li><input type="radio"name="item19" value="respuesta19_2"> "long string is long" </li>
       <li><input type="radio"name="item19" value="respuesta19_3"> "" </li>
       <li><input type="radio"name="item19" value="respuesta19_4"> "My long string is long" </li>
     </ol>

     <h4>20) El resultado de 'Quiero seguir aprendiendo!!!'.slice(0, -2) es *</h4>
     <ol>
       <li><input type="radio" name="item20" value="respuesta20_1"> "Quiero seguir aprendiendo!!!" </li>
       <li><input type="radio" name="item20" value="respuesta20_2"> "Quiero seguir aprendiendo!!" </li>
       <li><input type="radio" name="item20" value="respuesta20_3" checked > "Quiero seguir aprendiendo!" </li>
       <li><input type="radio" name="item20" value="respuesta20_4"> "iero seguir aprendiendo!!!" </li>
     </ol>

     <h4>21) El resultado de 'cualquier string'.charAt(100) es *</h4>
     <ol>
       <li><input type="radio" name="item21" value="respuesta21_1"> null </li>
       <li><input type="radio" name="item21" value="respuesta21_2"> undefined </li>
       <li><input type="radio" name="item21" value="respuesta21_3" checked > "" </li>
       <li><input type="radio" name="item21" value="respuesta21_4"> g </li>
     </ol>

     <h4>22) El resultado de 'Hola Mundo'.indexOf(' ') es *</h4>
      <ol>
        <li><input type="radio" name="item22" value="respuesta22_1"> null </li>
        <li><input type="radio" name="item22" value="respuesta22_2"> 3 </li>
        <li><input type="radio" name="item22" value="respuesta22_3" checked > 4 </li>
        <li><input type="radio" name="item22" value="respuesta22_4"> 5 </li>
      </ol>

      <h4>23) El resultado de 'Hola Mundo'.indexOf('s') es *</h4>
      <ol>
        <li><input type="radio" name="item23" value="respuesta23_1"> null </li>
        <li><input type="radio" name="item23" value="respuesta23_2"> undefined </li>
        <li><input type="radio" name="item23" value="respuesta23_3"> 0 </li>
        <li><input type="radio" name="item23" value="respuesta23_4" checked > -1 </li>
      </ol>

      <h4>24) El resultado de 'alphabet'.toUpperCase() es *</h4>
      <ol>
        <li><input type="radio" name="item24" value="respuesta24_1"> "AlphaBet" </li>
        <li><input type="radio" name="item24" value="respuesta24_2" checked > "ALPHABET" </li>
        <li><input type="radio" name="item24" value="respuesta24_3"> "alphabet" </li>
        <li><input type="radio" name="item24" value="respuesta24_4"> "Alphabet" </li>
      </ol>

      <h4>25) El resultado de typeof parseInt('543') es *</h4>
      <ol>
        <li><input type="radio" name="item25" value="respuesta25_1"> 543 </li>
        <li><input type="radio" name="item25" value="respuesta25_2"> "543" </li>
        <li><input type="radio" name="item25" value="respuesta25_3"> "Boolean" </li>
        <li><input type="radio" name="item25" value="respuesta25_4" checked > "number" </li>
      </ol>
    </div>
    <span class="regresar"> Regresar a menu Unidad 02 <a href="index.html"> <img src="../../img/inicio.png" width="35px" height="35px"></a></span>
    </div>
  </body>
</html>
